/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
	-webkit-text-size-adjust: none;
}

body, html {
	height: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----- BODY -----*/
body {
	background-color: #E6E1D8;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;	/*also loaded 600 for bold*/
	color: #494948;
}


/*----- NAVIGATION SECTION -----*/	
#navWrapper {
	background-color: #d44626;
	height: 2em;
}

nav ul li {
	float: left;
	width: 33%;	
}

nav ul li a {
	display: block;
	font-size: .9em;
	font-weight:600;
	color: #fff;
	text-decoration:none;
	margin: .2em 0;
	padding: .4em;
	border-right: 3px solid rgba(255,255,255,0.3);
	text-align: center;
	transition: color .5s;
}	


/* turn off the last border */
nav ul li:last-child a {
	border-right: none;
}

nav ul li a:hover {
	color: #333333;
	
}


/*----- HERO SECTION -----*/
#heroImage {
	background-image: url(../images/ggb-Free-Photos-small.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	position: relative;
	width: 100%;
}


#heroText {
	font-size: 2em;
	text-align: center;
	position: absolute;
	bottom: 12%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#heroFooter {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: .5em;
	color: #7c2a17;
}


/*----- ABOUT SECTION -----*/
#about {
	background-color: #fefefe;
	height: 155%;
	position: relative;
}

#me {
	display: none;
}

#about-profile {
	height: 100%;
	background-color: #333333;
}

#about-photo {
	position: bottom;
	height: 60%;
	min-width: 360px;
	background-image: url(../images/profile.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	float: left;
}

#about-info {
	background-color: #333333;
	padding: .5em;
	color: #d44626;
	font-size: 1em;
	margin-top: 1em;
	float: left;
}

.about-text {
	text-indent: 2em;
	margin-bottom: 1em;
}


/*----- PROJECTS -----*/

#projects {
	height: 250%;
	background-color: #333333;
}

#projectHeader {
	color: #fefefe;
	text-align: center;
	background-color: #d44626;
	font-size: 1.5em;
	padding-bottom: 5px;
}

.col3 {
	float: left;
	width: 100%;
	padding: 10px;
	border-right: solid;
	border-top: none;
	background-color: #222222;
	text-align: center;
	color: silver;
	border-bottom: solid silver;
}

.col3:last-child {
	border-right: none;
	border-bottom: none;
}

.col3 img {
	margin-top: 8px;
	width: 100%;
	min-height: 300px;
	max-height: 300px;
}


/* ---- CONTACT ---- */

#contact {
	text-align: center;
	height: 120%;
	background: #333333;
	border-top: solid #d44626;
	padding-top: 3em;
}

.contact-title {
	font-size: 1.5em;
	color: #d44636;
}

.white-text {
	color: #fefefe;
}

#contact-info {
	margin: auto;
	margin-top: 6em;
	background-color: #222222;
}

.list-item {
	list-style-type: none;
	color: #d44636;
	padding: .5em;
}

h4 {
	font-size: 1.5em;
	color: #fefefe;
	padding: 1em;
}

.col2 {
	float: left;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.col2:first-child {
	border-left: none;
}


/* ---- FOOTER ---- */

#footer {
	height: 1.5em;
	text-align: center;
	color: #333333;
	background-color: #d44626;
	padding: 2px 0 2px 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
