<head>
  <link rel="stylesheet" href="public/css/results.css"/>
</head>
<body>
  <span class="wrapper">
  <p>
    Results for summoner: <%= user.username %>
  </p>
  <p>
    User id: <%= user.id %>
  </p>
  <p>
    Total chests earned this season: <%= user.totalChests %>
  </p>
  <p>
    Thanks for registering.
  </p>
  <p>
    Summoner is now being tracked.
  </p>
  <br>
  <a href="/public"> Back to form </a>
  </span>
</body>
